.neonText {
  animation: flicker 1.5s infinite alternate;
  color: #fff;
  font-weight: 600;
}

h1 {
  font-size: 4.2rem;    
}

/* Flickering animation */
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #E12A2A,
      0 0 80px #E12A2A,
      0 0 90px #E12A2A,
      0 0 100px #E12A2A,
      0 0 150px #E12A2A;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}
  
h2 {
 font-size: 1.8rem;
}

.container {
  margin-top: 15vh;
}

body {
  font-size: 18px;
  font-family: "Avenir Next", sans-serif;
  background-color: #010a01;
}  

h1, h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}html, body {
  height: 100%;
  width: 100%;
}

.img_atas{
  width : 450px;
  height : 225px;
  position : absolute;
  z-index : -1;
  margin-left : 80%;
}

.desc-container{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.desc{
  width: 30%;
}

.h3-container{
  text-align: center;
  margin-bottom: 20px;
}

h3{
  color: #fff;
  position: relative;
  font-family: "Avenir Next", sans-serif;
  font-weight: 900;
  font-size: 38px;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.05em;
  display: inline-block;
}

h3:before {
  position: absolute;
  left: 0;
  top: 0;
  content: attr(filter-content);

  filter: url(#motion-blur-filter);
}

svg {
  display: none;
}

h4{
  font-size: 25px;
  font-weight: 500;
  line-height: 40px;
  font-family: "Helvetica Neue", sans-serif;
  color : white;
  
  text-align: center;
  padding: 10px;
  margin-left : 5%;
  margin-right : 5%;
  margin-top : -25px;

  background-color: black;
  border-style: solid;
  border-color: black;
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #F95D5D;,
            0 0 0.8rem #F95D5D;,
            0 0 2.8rem #F95D5D;,
            inset 0 0 1.3rem #F95D5D;;
}

ul{
  font-size: 18px;
  font-family: "Helvetica Neue", sans-serif;
  color : #fff;
  margin-left : 5%;
  margin-right : 5%;
  margin-top : -25px;
  font-weight: 400;
}

.curved {
  position: relative;
  background: #010a01;
  height: 10vh;
}

.curved::after {
  content: '';
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  height: 50%;
}

.section2{
  background-color: white;
}

.tools-container{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.tools{
  width: 30%;
}

.tools ul{
  text-align: center;
  list-style: none;
  font-size: 25px;
}

.tools ul li{
  font-family: "Avenir Next", sans-serif;
  font-weight: 900;
  font-size: 38px;
  
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  
  margin-top: 20px;
}

.section2 h3{
  color: black;
  position: relative;
  font-family: "Avenir Next", sans-serif;
  font-weight: 900;
  font-size: 38px;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.05em;
  display: inline-block;
}


